{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Running",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2026-01-20T13:41:07.832549Z"
              },
              {
                "status": "Running",
                "timestamp": "2026-01-20T13:41:08.002012Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2026-01-20T13:41:07.832549Z",
            "startTime": "2026-01-20T13:41:07.832549Z",
            "collectionId": "naip-atl-00000000",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "46",
              "TotalPendingItems": "46",
              "TotalSuccessfulItems": "0"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Canceled",
            "statusHistory": [
              {
                "status": "Canceled",
                "timestamp": "2026-01-20T13:40:58.016062Z",
                "errorCode": "CanceledOperation",
                "errorMessage": "Operation '02787e75-49d1-473a-b4b6-2c470903c832' for collection 'naip-atl-00000000' has been cancelled"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2026-01-20T13:40:53.712574Z",
            "finishTime": "2026-01-20T13:40:58.016062Z",
            "collectionId": "naip-atl-00000000",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "0",
              "TotalPendingItems": "0",
              "TotalSuccessfulItems": "0"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Canceled",
            "statusHistory": [
              {
                "status": "Canceled",
          [...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?$top=100&$skip=100&api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        [...]
[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Running",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2026-01-20T13:41:07.832549Z"
          },
          {
            "status": "Running",
            "timestamp": "2026-01-20T13:41:08.002012Z"
          }
        ],
        "type": "IngestionStaticCatalog",
        "creationTime": "2026-01-20T13:41:07.832549Z",
        "startTime": "2026-01-20T13:41:07.832549Z",
        "collectionId": "naip-atl-00000000",
        "additionalInformation": {
          "TotalFailedItems": "0",
          "TotalItems": "46",
          "TotalPendingItems": "46",
          "TotalSuccessfulItems": "0"
        }
      }
    }
  ],
  "Variables": {}
}
