{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Running",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-12-23T14:52:01.032134Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-12-23T14:52:01.167126Z"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2025-12-23T14:52:01.032134Z",
            "startTime": "2025-12-23T14:52:01.032134Z",
            "collectionId": "naip-atl-00000000",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "46",
              "TotalPendingItems": "46",
              "TotalSuccessfulItems": "0"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Canceled",
            "statusHistory": [
              {
                "status": "Pending",
                "timestamp": "2025-12-23T14:51:37.058377Z"
              },
              {
                "status": "Running",
                "timestamp": "2025-12-23T14:51:37.225257Z"
              },
              {
                "status": "Canceled",
                "timestamp": "2025-12-23T14:51:38.047159Z",
                "errorCode": "CanceledOperation",
                "errorMessage": "Operation 'ff82bf15-e336-49e4-8e03-5c612c5a1afb' for collection 'naip-atl-00000000' has been cancelled"
              }
            ],
            "type": "IngestionStaticCatalog",
            "creationTime": "2025-12-23T14:51:37.058377Z",
            "startTime": "2025-12-23T14:51:37.058377Z",
            "finishTime": "2025-12-23T14:51:38.047159Z",
            "collectionId": "naip-atl-00000000",
            "additionalInformation": {
              "TotalFailedItems": "0",
              "TotalItems": "46",
              "TotalPendingItems": "46",
              "TotalSuccessfulItems": "0"
            }
          },
          {
            "id": "00000000-0000-0000-0000-000000000000",
            "status": "Canceled",
            "statusHistory": [
              {
                "status": "Pending",
         [...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations?$top=100&$skip=100&api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        [...]
[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Running",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-12-23T14:52:01.032134Z"
          },
          {
            "status": "Running",
            "timestamp": "2025-12-23T14:52:01.167126Z"
          }
        ],
        "type": "IngestionStaticCatalog",
        "creationTime": "2025-12-23T14:52:01.032134Z",
        "startTime": "2025-12-23T14:52:01.032134Z",
        "collectionId": "naip-atl-00000000",
        "additionalInformation": {
          "TotalFailedItems": "0",
          "TotalItems": "46",
          "TotalPendingItems": "46",
          "TotalSuccessfulItems": "0"
        }
      }
    }
  ],
  "Variables": {}
}
