/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreHttp from "@azure/core-http";
import * as Parameters from "./models/parameters";
import * as Models from "./models";
import * as Mappers from "./models/mappers";
import { FormRecognizerClientContext } from "./formRecognizerClientContext";
import {
  TrainRequest,
  FormRecognizerClientTrainCustomModelAsyncResponse,
  FormRecognizerClientGetCustomModelOptionalParams,
  FormRecognizerClientGetCustomModelResponse,
  ContentType,
  FormRecognizerClientAnalyzeWithCustomModel$binaryOptionalParams,
  FormRecognizerClientAnalyzeWithCustomModel$jsonOptionalParams,
  FormRecognizerClientAnalyzeWithCustomModelResponse,
  FormRecognizerClientGetAnalyzeFormResultResponse,
  FormRecognizerClientAnalyzeReceiptAsync$binaryOptionalParams,
  FormRecognizerClientAnalyzeReceiptAsync$jsonOptionalParams,
  FormRecognizerClientAnalyzeReceiptAsyncResponse,
  FormRecognizerClientGetAnalyzeReceiptResultResponse,
  FormRecognizerClientAnalyzeLayoutAsync$binaryOptionalParams,
  FormRecognizerClientAnalyzeLayoutAsync$jsonOptionalParams,
  FormRecognizerClientAnalyzeLayoutAsyncResponse,
  FormRecognizerClientGetAnalyzeLayoutResultResponse,
  FormRecognizerClientListCustomModelsResponse,
  FormRecognizerClientGetCustomModelsResponse,
  FormRecognizerClientListCustomModelsNextResponse
} from "./models";

class FormRecognizerClient extends FormRecognizerClientContext {
  /**
   * Initializes a new instance of the FormRecognizerClient class.
   * @param credentials Subscription credentials which uniquely identify client subscription.
   * @param endpoint Supported Cognitive Services endpoints (protocol and hostname, for example:
   *                 https://westus2.api.cognitive.microsoft.com).
   * @param options The parameter options
   */
  constructor(
    credentials: coreHttp.TokenCredential | coreHttp.ServiceClientCredentials,
    endpoint: string,
    options?: Models.FormRecognizerClientOptionalParams
  ) {
    super(credentials, endpoint, options);
  }

  /**
   * Create and train a custom model. The request must include a source parameter that is either an
   * externally accessible Azure storage blob container Uri (preferably a Shared Access Signature Uri) or
   * valid path to a data folder in a locally mounted drive. When local paths are specified, they must
   * follow the Linux/Unix path format and be an absolute path rooted to the input mount configuration
   * setting value e.g., if '{Mounts:Input}' configuration setting value is '/input' then a valid source
   * path would be '/input/contosodataset'. All data to be trained is expected to be under the source
   * folder or sub folders under it. Models are trained using documents that are of the following content
   * type - 'application/pdf', 'image/jpeg', 'image/png', 'image/tiff'. Other type of content is ignored.
   * @param trainRequest Training request parameters.
   * @param options The options parameters.
   */
  trainCustomModelAsync(
    trainRequest: TrainRequest,
    options?: coreHttp.OperationOptions
  ): Promise<FormRecognizerClientTrainCustomModelAsyncResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.sendOperationRequest(
      { trainRequest, options: operationOptions },
      trainCustomModelAsyncOperationSpec
    ) as Promise<FormRecognizerClientTrainCustomModelAsyncResponse>;
  }

  /**
   * Get detailed information about a custom model.
   * @param modelId Model identifier.
   * @param options The options parameters.
   */
  getCustomModel(
    modelId: string,
    options?: FormRecognizerClientGetCustomModelOptionalParams
  ): Promise<FormRecognizerClientGetCustomModelResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.sendOperationRequest(
      { modelId, options: operationOptions },
      getCustomModelOperationSpec
    ) as Promise<FormRecognizerClientGetCustomModelResponse>;
  }

  /**
   * Mark model for deletion. Model artifacts will be permanently removed within a predetermined period.
   * @param modelId Model identifier.
   * @param options The options parameters.
   */
  deleteCustomModel(
    modelId: string,
    options?: coreHttp.OperationOptions
  ): Promise<coreHttp.RestResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.sendOperationRequest(
      { modelId, options: operationOptions },
      deleteCustomModelOperationSpec
    ) as Promise<coreHttp.RestResponse>;
  }

  /**
   * Extract key-value pairs, tables, and semantic values from a given document. The input document must
   * be of one of the supported content types - 'application/pdf', 'image/jpeg', 'image/png' or
   * 'image/tiff'. Alternatively, use 'application/json' type to specify the location (Uri or local path)
   * of the document to be analyzed.
   * @param modelId Model identifier.
   * @param contentType Upload file type
   * @param fileStream .json, .pdf, .jpg, .png or .tiff type file stream.
   * @param options The options parameters.
   */
  analyzeWithCustomModel(
    modelId: string,
    contentType: ContentType,
    fileStream: coreHttp.HttpRequestBody,
    options?: FormRecognizerClientAnalyzeWithCustomModel$binaryOptionalParams
  ): Promise<FormRecognizerClientAnalyzeWithCustomModelResponse>;
  /**
   * Extract key-value pairs, tables, and semantic values from a given document. The input document must
   * be of one of the supported content types - 'application/pdf', 'image/jpeg', 'image/png' or
   * 'image/tiff'. Alternatively, use 'application/json' type to specify the location (Uri or local path)
   * of the document to be analyzed.
   * @param modelId Model identifier.
   * @param contentType Body Parameter content-type
   * @param options The options parameters.
   */
  analyzeWithCustomModel(
    modelId: string,
    contentType: "application/json",
    options?: FormRecognizerClientAnalyzeWithCustomModel$jsonOptionalParams
  ): Promise<FormRecognizerClientAnalyzeWithCustomModelResponse>;
  /**
   * Extract key-value pairs, tables, and semantic values from a given document. The input document must
   * be of one of the supported content types - 'application/pdf', 'image/jpeg', 'image/png' or
   * 'image/tiff'. Alternatively, use 'application/json' type to specify the location (Uri or local path)
   * of the document to be analyzed.
   * @param args Includes all the parameters for this operation.
   */
  analyzeWithCustomModel(
    ...args:
      | [
          string,
          ContentType,
          coreHttp.HttpRequestBody,
          FormRecognizerClientAnalyzeWithCustomModel$binaryOptionalParams?
        ]
      | [
          string,
          "application/json",
          FormRecognizerClientAnalyzeWithCustomModel$jsonOptionalParams?
        ]
  ): Promise<FormRecognizerClientAnalyzeWithCustomModelResponse> {
    let operationSpec: coreHttp.OperationSpec;
    let operationArguments: coreHttp.OperationArguments;
    if (
      args[0] === "application/pdf" ||
      args[0] === "image/jpeg" ||
      args[0] === "image/png" ||
      args[0] === "image/tiff"
    ) {
      operationSpec = analyzeWithCustomModel$binaryOperationSpec;
      operationArguments = {
        modelId: args[0],
        contentType: args[1],
        fileStream: args[2],
        options: args[3]
      };
    } else if (args[0] === "application/json") {
      operationSpec = analyzeWithCustomModel$jsonOperationSpec;
      operationArguments = {
        modelId: args[0],
        contentType: args[1],
        options: args[2]
      };
    } else {
      throw new TypeError(
        `"contentType" must be a valid value but instead was "${args[0]}".`
      );
    }
    return this.sendOperationRequest(
      operationArguments,
      operationSpec
    ) as Promise<FormRecognizerClientAnalyzeWithCustomModelResponse>;
  }

  /**
   * Obtain current status and the result of the analyze form operation.
   * @param modelId Model identifier.
   * @param resultId Analyze operation result identifier.
   * @param options The options parameters.
   */
  getAnalyzeFormResult(
    modelId: string,
    resultId: string,
    options?: coreHttp.OperationOptions
  ): Promise<FormRecognizerClientGetAnalyzeFormResultResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.sendOperationRequest(
      { modelId, resultId, options: operationOptions },
      getAnalyzeFormResultOperationSpec
    ) as Promise<FormRecognizerClientGetAnalyzeFormResultResponse>;
  }

  /**
   * Extract field text and semantic values from a given receipt document. The input document must be of
   * one of the supported content types - 'application/pdf', 'image/jpeg', 'image/png' or 'image/tiff'.
   * Alternatively, use 'application/json' type to specify the location (Uri or local path) of the
   * document to be analyzed.
   * @param contentType Upload file type
   * @param fileStream .json, .pdf, .jpg, .png or .tiff type file stream.
   * @param options The options parameters.
   */
  analyzeReceiptAsync(
    contentType: ContentType,
    fileStream: coreHttp.HttpRequestBody,
    options?: FormRecognizerClientAnalyzeReceiptAsync$binaryOptionalParams
  ): Promise<FormRecognizerClientAnalyzeReceiptAsyncResponse>;
  /**
   * Extract field text and semantic values from a given receipt document. The input document must be of
   * one of the supported content types - 'application/pdf', 'image/jpeg', 'image/png' or 'image/tiff'.
   * Alternatively, use 'application/json' type to specify the location (Uri or local path) of the
   * document to be analyzed.
   * @param contentType Body Parameter content-type
   * @param options The options parameters.
   */
  analyzeReceiptAsync(
    contentType: "application/json",
    options?: FormRecognizerClientAnalyzeReceiptAsync$jsonOptionalParams
  ): Promise<FormRecognizerClientAnalyzeReceiptAsyncResponse>;
  /**
   * Extract field text and semantic values from a given receipt document. The input document must be of
   * one of the supported content types - 'application/pdf', 'image/jpeg', 'image/png' or 'image/tiff'.
   * Alternatively, use 'application/json' type to specify the location (Uri or local path) of the
   * document to be analyzed.
   * @param args Includes all the parameters for this operation.
   */
  analyzeReceiptAsync(
    ...args:
      | [
          ContentType,
          coreHttp.HttpRequestBody,
          FormRecognizerClientAnalyzeReceiptAsync$binaryOptionalParams?
        ]
      | [
          "application/json",
          FormRecognizerClientAnalyzeReceiptAsync$jsonOptionalParams?
        ]
  ): Promise<FormRecognizerClientAnalyzeReceiptAsyncResponse> {
    let operationSpec: coreHttp.OperationSpec;
    let operationArguments: coreHttp.OperationArguments;
    if (
      args[0] === "application/pdf" ||
      args[0] === "image/jpeg" ||
      args[0] === "image/png" ||
      args[0] === "image/tiff"
    ) {
      operationSpec = analyzeReceiptAsync$binaryOperationSpec;
      operationArguments = {
        contentType: args[0],
        fileStream: args[1],
        options: args[2]
      };
    } else if (args[0] === "application/json") {
      operationSpec = analyzeReceiptAsync$jsonOperationSpec;
      operationArguments = {
        contentType: args[0],
        options: args[1]
      };
    } else {
      throw new TypeError(
        `"contentType" must be a valid value but instead was "${args[0]}".`
      );
    }
    return this.sendOperationRequest(
      operationArguments,
      operationSpec
    ) as Promise<FormRecognizerClientAnalyzeReceiptAsyncResponse>;
  }

  /**
   * Track the progress and obtain the result of the analyze receipt operation.
   * @param resultId Analyze operation result identifier.
   * @param options The options parameters.
   */
  getAnalyzeReceiptResult(
    resultId: string,
    options?: coreHttp.OperationOptions
  ): Promise<FormRecognizerClientGetAnalyzeReceiptResultResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.sendOperationRequest(
      { resultId, options: operationOptions },
      getAnalyzeReceiptResultOperationSpec
    ) as Promise<FormRecognizerClientGetAnalyzeReceiptResultResponse>;
  }

  /**
   * Extract text and layout information from a given document. The input document must be of one of the
   * supported content types - 'application/pdf', 'image/jpeg', 'image/png' or 'image/tiff'.
   * Alternatively, use 'application/json' type to specify the location (Uri or local path) of the
   * document to be analyzed.
   * @param contentType Upload file type
   * @param fileStream .json, .pdf, .jpg, .png or .tiff type file stream.
   * @param options The options parameters.
   */
  analyzeLayoutAsync(
    contentType: ContentType,
    fileStream: coreHttp.HttpRequestBody,
    options?: FormRecognizerClientAnalyzeLayoutAsync$binaryOptionalParams
  ): Promise<FormRecognizerClientAnalyzeLayoutAsyncResponse>;
  /**
   * Extract text and layout information from a given document. The input document must be of one of the
   * supported content types - 'application/pdf', 'image/jpeg', 'image/png' or 'image/tiff'.
   * Alternatively, use 'application/json' type to specify the location (Uri or local path) of the
   * document to be analyzed.
   * @param contentType Body Parameter content-type
   * @param options The options parameters.
   */
  analyzeLayoutAsync(
    contentType: "application/json",
    options?: FormRecognizerClientAnalyzeLayoutAsync$jsonOptionalParams
  ): Promise<FormRecognizerClientAnalyzeLayoutAsyncResponse>;
  /**
   * Extract text and layout information from a given document. The input document must be of one of the
   * supported content types - 'application/pdf', 'image/jpeg', 'image/png' or 'image/tiff'.
   * Alternatively, use 'application/json' type to specify the location (Uri or local path) of the
   * document to be analyzed.
   * @param args Includes all the parameters for this operation.
   */
  analyzeLayoutAsync(
    ...args:
      | [
          ContentType,
          coreHttp.HttpRequestBody,
          FormRecognizerClientAnalyzeLayoutAsync$binaryOptionalParams?
        ]
      | [
          "application/json",
          FormRecognizerClientAnalyzeLayoutAsync$jsonOptionalParams?
        ]
  ): Promise<FormRecognizerClientAnalyzeLayoutAsyncResponse> {
    let operationSpec: coreHttp.OperationSpec;
    let operationArguments: coreHttp.OperationArguments;
    if (
      args[0] === "application/pdf" ||
      args[0] === "image/jpeg" ||
      args[0] === "image/png" ||
      args[0] === "image/tiff"
    ) {
      operationSpec = analyzeLayoutAsync$binaryOperationSpec;
      operationArguments = {
        contentType: args[0],
        fileStream: args[1],
        options: args[2]
      };
    } else if (args[0] === "application/json") {
      operationSpec = analyzeLayoutAsync$jsonOperationSpec;
      operationArguments = {
        contentType: args[0],
        options: args[1]
      };
    } else {
      throw new TypeError(
        `"contentType" must be a valid value but instead was "${args[0]}".`
      );
    }
    return this.sendOperationRequest(
      operationArguments,
      operationSpec
    ) as Promise<FormRecognizerClientAnalyzeLayoutAsyncResponse>;
  }

  /**
   * Track the progress and obtain the result of the analyze layout operation
   * @param resultId Analyze operation result identifier.
   * @param options The options parameters.
   */
  getAnalyzeLayoutResult(
    resultId: string,
    options?: coreHttp.OperationOptions
  ): Promise<FormRecognizerClientGetAnalyzeLayoutResultResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.sendOperationRequest(
      { resultId, options: operationOptions },
      getAnalyzeLayoutResultOperationSpec
    ) as Promise<FormRecognizerClientGetAnalyzeLayoutResultResponse>;
  }

  /**
   * Get information about all custom models
   * @param options The options parameters.
   */
  listCustomModels(
    options?: coreHttp.OperationOptions
  ): Promise<FormRecognizerClientListCustomModelsResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.sendOperationRequest(
      { options: operationOptions },
      listCustomModelsOperationSpec
    ) as Promise<FormRecognizerClientListCustomModelsResponse>;
  }

  /**
   * Get information about all custom models
   * @param options The options parameters.
   */
  getCustomModels(
    options?: coreHttp.OperationOptions
  ): Promise<FormRecognizerClientGetCustomModelsResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.sendOperationRequest(
      { options: operationOptions },
      getCustomModelsOperationSpec
    ) as Promise<FormRecognizerClientGetCustomModelsResponse>;
  }

  /**
   * ListCustomModelsNext
   * @param nextLink The nextLink from the previous successful call to the ListCustomModels method.
   * @param options The options parameters.
   */
  listCustomModelsNext(
    nextLink: string,
    options?: coreHttp.OperationOptions
  ): Promise<FormRecognizerClientListCustomModelsNextResponse> {
    const operationOptions: coreHttp.RequestOptionsBase = coreHttp.operationOptionsToRequestOptionsBase(
      options || {}
    );
    return this.sendOperationRequest(
      { nextLink, options: operationOptions },
      listCustomModelsNextOperationSpec
    ) as Promise<FormRecognizerClientListCustomModelsNextResponse>;
  }
}
// Operation Specifications

const serializer = new coreHttp.Serializer(Mappers, /* isXml */ false);

const trainCustomModelAsyncOperationSpec: coreHttp.OperationSpec = {
  path: "/custom/models",
  httpMethod: "POST",
  responses: {
    201: {
      headersMapper: Mappers.FormRecognizerClientTrainCustomModelAsyncHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.trainRequest,
  urlParameters: [Parameters.endpoint],
  headerParameters: [Parameters.contentType],
  serializer
};
const getCustomModelOperationSpec: coreHttp.OperationSpec = {
  path: "/custom/models/{modelId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Model
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.includeKeys],
  urlParameters: [Parameters.endpoint, Parameters.modelId],
  serializer
};
const deleteCustomModelOperationSpec: coreHttp.OperationSpec = {
  path: "/custom/models/{modelId}",
  httpMethod: "DELETE",
  responses: {
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [Parameters.endpoint, Parameters.modelId],
  serializer
};
const analyzeWithCustomModel$binaryOperationSpec: coreHttp.OperationSpec = {
  path: "/custom/models/{modelId}/analyze",
  httpMethod: "POST",
  responses: {
    202: {
      headersMapper: Mappers.FormRecognizerClientAnalyzeWithCustomModelHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.fileStream,
  queryParameters: [Parameters.includeTextDetails],
  urlParameters: [Parameters.endpoint, Parameters.modelId],
  headerParameters: [Parameters.contentType1],
  serializer
};
const analyzeWithCustomModel$jsonOperationSpec: coreHttp.OperationSpec = {
  path: "/custom/models/{modelId}/analyze",
  httpMethod: "POST",
  responses: {
    202: {
      headersMapper: Mappers.FormRecognizerClientAnalyzeWithCustomModelHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.fileStream1,
  queryParameters: [Parameters.includeTextDetails],
  urlParameters: [Parameters.endpoint, Parameters.modelId],
  headerParameters: [Parameters.contentType2],
  serializer
};
const getAnalyzeFormResultOperationSpec: coreHttp.OperationSpec = {
  path: "/custom/models/{modelId}/analyzeResults/{resultId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AnalyzeOperationResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [Parameters.endpoint, Parameters.modelId, Parameters.resultId],
  serializer
};
const analyzeReceiptAsync$binaryOperationSpec: coreHttp.OperationSpec = {
  path: "/prebuilt/receipt/analyze",
  httpMethod: "POST",
  responses: {
    202: {
      headersMapper: Mappers.FormRecognizerClientAnalyzeReceiptAsyncHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.fileStream,
  queryParameters: [Parameters.includeTextDetails],
  urlParameters: [Parameters.endpoint],
  headerParameters: [Parameters.contentType1],
  serializer
};
const analyzeReceiptAsync$jsonOperationSpec: coreHttp.OperationSpec = {
  path: "/prebuilt/receipt/analyze",
  httpMethod: "POST",
  responses: {
    202: {
      headersMapper: Mappers.FormRecognizerClientAnalyzeReceiptAsyncHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.fileStream1,
  queryParameters: [Parameters.includeTextDetails],
  urlParameters: [Parameters.endpoint],
  headerParameters: [Parameters.contentType2],
  serializer
};
const getAnalyzeReceiptResultOperationSpec: coreHttp.OperationSpec = {
  path: "/prebuilt/receipt/analyzeResults/{resultId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AnalyzeOperationResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [Parameters.endpoint, Parameters.resultId],
  serializer
};
const analyzeLayoutAsync$binaryOperationSpec: coreHttp.OperationSpec = {
  path: "/layout/analyze",
  httpMethod: "POST",
  responses: {
    202: {
      headersMapper: Mappers.FormRecognizerClientAnalyzeLayoutAsyncHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.fileStream,
  urlParameters: [Parameters.endpoint],
  headerParameters: [Parameters.contentType1],
  serializer
};
const analyzeLayoutAsync$jsonOperationSpec: coreHttp.OperationSpec = {
  path: "/layout/analyze",
  httpMethod: "POST",
  responses: {
    202: {
      headersMapper: Mappers.FormRecognizerClientAnalyzeLayoutAsyncHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.fileStream1,
  urlParameters: [Parameters.endpoint],
  headerParameters: [Parameters.contentType2],
  serializer
};
const getAnalyzeLayoutResultOperationSpec: coreHttp.OperationSpec = {
  path: "/layout/analyzeResults/{resultId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AnalyzeOperationResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [Parameters.endpoint, Parameters.resultId],
  serializer
};
const listCustomModelsOperationSpec: coreHttp.OperationSpec = {
  path: "/custom/models",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Models
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.op],
  urlParameters: [Parameters.endpoint],
  serializer
};
const getCustomModelsOperationSpec: coreHttp.OperationSpec = {
  path: "/custom/models",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Models
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.op1],
  urlParameters: [Parameters.endpoint],
  serializer
};
const listCustomModelsNextOperationSpec: coreHttp.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Models
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.op],
  urlParameters: [Parameters.endpoint, Parameters.nextLink],
  serializer
};

// Operation Specifications

export {
  FormRecognizerClient,
  FormRecognizerClientContext,
  Models as FormRecognizerModels,
  Mappers as FormRecognizerMappers
};
