{
  "Entries": [
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections?api-version=2025-04-30-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "id": "test-collection-deletion",
        "description": "Test collection for deletion",
        "stac_version": "1.0.0",
        "links": [],
        "title": "Test Collection to Delete",
        "type": "Collection",
        "license": "proprietary",
        "extent": {
          "spatial": {
            "bbox": [
              [
                -180,
                -90,
                180,
                90
              ]
            ]
          },
          "temporal": {
            "interval": [
              [
                "2020-01-01T00:00:00.000Z",
                "2024-12-31T23:59:59.000Z"
              ]
            ]
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/a0b5cd84-311f-44a8-845b-c3e4cd2cb048?api-version=2025-04-30-preview",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "operation-location": "https://example.com"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-12-23T14:45:53.3722825Z"
          }
        ],
        "type": "AddCollection",
        "creationTime": "2025-12-23T14:45:53.3720032Z",
        "collectionId": "test-collection-deletion"
      }
    },
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/00000000-0000-0000-0000-000000000000?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-12-23T14:45:53.3722825Z"
          }
        ],
        "type": "AddCollection",
        "creationTime": "2025-12-23T14:45:53.3720032Z",
        "collectionId": "test-collection-deletion"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/test-collection-deletion?api-version=2025-04-30-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "api-supported-versions": "2024-01-31-preview, 2025-04-30-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/inma/operations/7f4c438a-60ba-4c2f-8fb7-b78f6d1709d3?api-version=2025-04-30-preview",
        "mise-correlation-id": "00000000-0000-0000-0000-000000000000",
        "operation-location": "https://example.com"
      },
      "ResponseBody": {
        "id": "00000000-0000-0000-0000-000000000000",
        "status": "Pending",
        "statusHistory": [
          {
            "status": "Pending",
            "timestamp": "2025-12-23T14:46:08.1456001Z"
          }
        ],
        "type": "DeleteCollection",
        "creationTime": "2025-12-23T14:46:08.1455981Z",
        "collectionId": "test-collection-deletion"
      }
    },
[...]
    {
      "RequestUri": "https://Sanitized.sanitized_label.sanitized_location.geocatalog.spatio.azure.com/stac/collections/test-collection-deletion?api-version=2025-04-30-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json",
        "X-Ms-Error-Code": "ResourceNotFound"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "Collection 'test-collection-deletion' not found. Please verify the collection ID and try again."
        }
      }
    }
  ],
  "Variables": {}
}
